* {
  --font-size: 14px;
  --font-color: white;
}

.header {
  background-color: #2D676D;
  color: var(--font-color);
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.logo img {
  height: 8rem;
}

/* Ações */
.actions {
  display: flex;
  gap: 16px;
  font-size: var(--font-size);
}

.actions span {
  display: flex;
  align-items: center;
  gap: 5px;
}

.actions img {
  height: 1.5rem;
}

.actions button {
  display: flex;
  align-items: center;
  gap: 5px;

  background: none;
  border: none;
  color: var(--font-color);

  font-size: var(--font-size);

  cursor: pointer;
}

.navBar {
  background-color: #2D676D;
  color: var(--font-color);
  display: flex;
  justify-content: center;
  height: 2.5rem;
}

/* Menu */
.nav {
  font-size: var(--font-size);
  gap: 20px;
}

nav a {
  color: var(--font-color);
  padding: 6px 12px;
  border-radius: 20px;
  text-decoration: none;
  transition: 0.3s;
}

/*nav a:hover {
  background-color: white;
  color: #2D676D;
}*/

nav a.active {
  background-color: white;
  color: #2D676D;
}