.search {
  display: flex;
  justify-content: center;
  color: #2D676D;
  background-color: #EBEBEB;
}

.search-box {
  background: #2D676D;
  padding: 0.75rem;
  border-radius: 12px;
  display: flex;
  gap: 10px;

  margin-top: 2rem;
}

input {
  padding: 0.65rem;
  border-radius: 8px;
  border: none;
  outline: none;
}

.search-box button {
  background: #3FA7A3;
  border: none;
  padding: 0.65rem 1rem;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.search-box button:hover {
  background: #36A19B;
}

/* Hospedagens */
.hospedagens {
  height: 25rem;
  background-color: #EBEBEB;
}

.hotel-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Aviso Hospedagem */
.info-hospedagem {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2.5rem;
  background-color: #EBEBEB;
  height: 20rem;
}

.info-box {
  background: #2D676D;
  padding: 1.25rem;
  border-radius: 10px;
  color: white;
  max-width: 75rem;
}

.info-box h3 {
  font-size: 1.6rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.info-box p {
  font-size: 1rem;
  line-height: 1.25rem;
}

/* Central de Ajuda */
.central-ajuda {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EBEBEB;
  height: 20rem;
}

.central-box {
  background: #2D676D;
  padding: 1.25rem;
  border-radius: 50px;
  color: white;
  width: 50rem;
}

.central-titulo {
  display: flex;
  align-items: center;
  justify-content: center; 
  gap: 10px;
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.central-titulo img {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
}

.central-contato {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
}

.contato-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contato-item img {
  width: 1.15rem;
  height: 1.15rem;
}